/* Global Styles */

:root {
    --color-dark: #141922;
    --color-darkgrey: #282828;
    --color-light: #ffffff;
    --color-black: #000000;
    --color-lightgrey: #c1c1c1;
    --color-highlight: #9ae22d;
    --color-redcolor: #ca1717;
  }

.debug {
    border: 1px solid red;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: var(--color-dark);
}

.wrapper {
    height: 100vh;
    flex-direction: column;
    /*overflow: hidden;*/
}

ul {
    list-style: none;
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Utility*/

.d-none {
    display: none;
}

.p-relative {
    position: relative;
}

.p-absolute {
    position: absolute;
}

/*Flex*/
.d-flex {
    display: flex;
    color: var(--color-light);
}

.wrap {
    flex-wrap: wrap;
}

a {
    text-decoration: none;
}

/*Page*/
#page {
    flex: 1 1 auto;
    overflow-y: auto;
    height: 100%;
}

/**********Menu left**********/
.menu {
    flex: 0 0 200px;
    height: 100%;
    max-height: 100%;
    flex-direction: column;
    background-color: var(--color-black);
}

.logo {
    padding: 12px;
    width: 100%;
    height: 70px;
}

.logo-small {

    height: 100%;
    top: 0px;
    left: 0px;
    object-fit: contain;
    opacity: 0;

}

.list {
    padding: 12px;
    color: var(--color-lightgrey);
}

.blue-line-left {
    border: 1px solid transparent;
    height: 20px;
}

.list li:hover .blue-line-left {
    border: 1px solid rgb(88, 69, 255);
    height: 20px;
    margin: 5px;
}

i {
    color: var(--color-lightgrey);
    cursor: pointer;;
}

i:hover {
    color: var(--color-light);
}

.c-playlist:hover i {
    margin-left: 10px;
    color: var(--color-light);
}

.list strong {
    display: flex;
    align-items: center;
}

.list span{
    padding: 8px; 
}

.playlist {
    flex-direction: column;
    flex: 0 1 auto;
    overflow: auto;
    padding: 5px 12px;
    font-size: 14px;
    color: var(--color-lightgrey);
    height: 100%;
    margin-bottom: 100px;
}

h4 {
    color: var(--color-light);
    padding-left: 12px;
}

.c-playlist {
    padding: 10px 12px;
    display: flex;
    align-items: center;
}

.c-playlist i {
    font-size: 30px;
    padding-right: 10px;

}

.c-playlist strong {
    color: var(--color-lightgrey);
}

.playlist a {
    color: var(--color-lightgrey);
}

.playlist ul {
    flex: 1 1 auto;
    overflow: auto;
}

.playlist li {
    padding: 5px 0;
    font-size: 12px;
}

.user {
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 12px;
    flex-direction: column;
    background-color: var(--color-black);
}

.user strong {
    font-size: 12px;
    color: var(--color-lightgrey);
    display: block;
    padding-left: 10px;
}

.user .line {
    width: calc(100% - 24px);
    margin: 12px 0;
    border: 1px solid var(--color-lightgrey);
    font-size: 18px;
}

.user .img {
    width: 30px;
    height: 30px;
    background-color: var(--color-lightgrey);
}

.footer-menu {
    align-items: center;
}


/*********Main**********/

.content {
    flex: 1 1 auto;
    overflow-y: auto;
    flex-direction: column;
    background-color: var(--color-dark);
}

.update {
    position:fixed;
    top: 0;
    left: 200px;
    height: 70px;
    width: calc(100% - 200px);
    z-index: 1000;
    justify-content: flex-end;
    align-items: center;
    padding: 15px 30px;
    background-color: rgba(0, 0, 0, 0.5);

}

.btn-update {
    border: 1px solid var(--color-lightgrey);
    font-size: 12px;
    padding: 10px 30px;
    border-radius: 30px;
    transition: all 0.3s;
}

.btn-update:hover {
    transform: scale(1.2);
}

.musica {
    height: 100%;
    width: 100%;
    padding: 70px 20px;
    flex-direction: column;
}

.container-menu {
    width: 100%;
    justify-content: center;
    padding: 10px;
}

.menu-top {
    justify-content: center;
    width: 60%;
}

.menu-top li {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--color-lightgrey);
    padding: 5px;
    font-size: 12px;
}

.menu-top li:hover {
    color: var(--color-light);
}

.blue-line {
    border: 1px solid transparent;
    width: 20px;
}

.menu-top li:hover .blue-line {
    border: 1px solid rgb(88, 69, 255);
    width: 20px;
}

h2 {
    padding-top: 40px;
}

.row {
    width: 100%;
    padding-top: 30px;
}

.col {
    width: calc(100% / 6);
    flex-direction: column;

}

.img {
    position: relative;
    padding: 5px;
    
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.layover {
    position: absolute;
    top: 5px;
    left: 5px;
    width: calc(100% - 10px);
    height: calc(100% - 14px);
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3em;
    color: var(--color-light);
    opacity: 0;
    transition: opacity 0.5s;
}

.img:hover .layover {
    opacity: 1;
}

.txt-img {
    width: 100%;
    text-align: center;
    font-size: 14px;
    padding: 0 5px;
}

span {
    color: var(--color-lightgrey);
    font-size: 12px;
}

.circle {
    border-radius: 50%;
}


/***********Soundbar************/

#soundbar {
    flex: 0 0 70px;
    background-color: var(--color-darkgrey);
    justify-content: space-between;
}

#soundbar i {
    padding: 5px 10px;
}

.bottom-box {
    width: 230px;
    align-items: center;
}

.bottom-c-box {
    width: 50%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/***Center-Soundbar***/
.top-soundbar {
    align-items: center;
}

.play-big {
    font-size: 30px;
}

.bottom-c-box .line-soundbar {
    width: 80%;
    padding-bottom: 15px;
}

.bottom-c-box .bar {
    
}

/***Left-Soundbar***/
.left-box .img {
    width: 69px;
    height: 69px;
    padding: 15px; 
}

.brano {
    display: block;
    font-size: 10px;
    padding-right: 15px;
}

.brano strong {
    font-size: 14px;
    color: var(--color-light);
}

/***Right-Soundbar***/
.right-box {
    justify-content: space-around;

}

.line-soundbar {
    align-items: center;
    padding: 0 15px;
    width: 60%;
    cursor: pointer;
    font-size: 12px;
}

.bar {
    display: block;
    background-color: rgb(78, 78, 78);
    border-radius: 30px;
    width: 100%;
    height: 6px;
    margin: 0 5px;
    position: relative;
}

.bar:before {
    top: 0;
    left: 0;
    content: "";
    display: block; 
    width: 40%; 
    height: 6px; 
    border-radius: 30px;
    background-color: rgb(161, 161, 161);
    position: absolute;

}

.bar:after { 
    top: 0; 
    left: 40%;
    content: ""; 
    display: none;
    background-color: var(--color-light);
    border: 1px solid var(--color-dark);
    border-radius: 50%; 
    width: 10px;
    aspect-ratio: 1; 
    position: absolute;
    transform: translate(-50%, -30%);
}

.line-soundbar:hover .bar::before {
    background-color: var(--color-light);
    }

.line-soundbar:hover .bar::after {
    display: block;
    }






/*Media*/

@media screen and (max-width: 1024px) {
    .col {
        width: calc(100% / 4);
    }
}

@media screen and (max-width: 768px) {
    .col {
        width: 50%;
        padding: 10px;
    }

    .update {
        left: 60px;
        width: calc(100% - 60px);
    }

    .menu {
        flex: 0 0 30px;
    }

    .logo-small {
        opacity: 1;
    }

    .logo-big {
        opacity: 0;
    }

    .list span {
        display: none;
    }

    .list {
        justify-content: center;
        align-items: center;
    }

    .list i {
        font-size: 30px;
        padding-bottom: 20px;
    }

    .playlist {
        display: none;
    }

    .user strong, .line {
        display: none;
    }

    .user .app {
        justify-content: center;
        padding-left: 0;
        padding-bottom: 20px;
        font-size: 20px;
    }

    .user .footer-menu {
        justify-content: center;
    }

    .user .img {
        width: 35px;
        height: 35px;
        background-color: var(--color-lightgrey);
    }
}

@media screen and (max-width: 576px) {
    .col {
        width: 100%;
        padding: 20px;
    }

    #soundbar i {
        padding: 5px 10px;
        font-size: 12px;
    }

    #soundbar .play-big {
        font-size: 20px;
    }

    .none {
        display: none;
    }
}



@media screen and (max-width: 480px) {

}