/* Global Styles */

:root {
    --color-dark: #141922;
    --color-darkgrey: #282828;
    --color-light: #ffffff;
    --color-black: #000000;
    --color-lightgrey: #c1c1c1;
    --color-highlight: #9ae22d;
    --color-redcolor: #ca1717;
  }

.debug {
    border: 1px solid red;
}

body {
    font-family: "Montserrat", sans-serif;
}

.wrapper {
    height: 100vh;
    flex-direction: column;
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*Utility*/

.d-none {
    display: none;
}

/*Flex*/
.d-flex {
    display: flex;
    color: var(--color-light);
}


/*Page*/
#page {
    flex: 1 1 auto;
    overflow-y: auto;
}

.menu {
    flex: 0 0 230px;
    flex-direction: column;
    background-color: var(--color-black);
}


.content {
    flex: 1 1 auto;
    overflow-y: auto;
    flex-direction: column;
    background-color: var(--color-dark);
}

.update {
    position:fixed;
    top: 0;
    left: 230px;
    height: 70px;
    width: calc(100% - 230px);
    z-index: 1000;
    justify-content: flex-end;
    align-items: center;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.5)

}

.musica {
    height: 100%;
    width: 100%;
    padding: 70px 20px;
    flex-direction: column;
}

.container-menu {
    width: 100%;
}

.menu-top {
    justify-content: center;
    list-style: none;
}

.menu-top li {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.green-line {
    border: 1px solid var(--color-highlight);
    width: 20px;
    
}

.col {
    flex-direction: column;
}

.img {
    width: calc(100vw / 6);
    height: calc(100vw / 6);
    padding: 10px;
    
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.txt-img {
    width: calc(100vw / 6);
    text-align: center;
}

#soundbar {
    flex: 0 0 100px;
    background-color: var(--color-darkgrey);
}

.btn-update {
    /*fare non opaco*/
}


/*Media*/

@media screen and (min-width: 576px) {
    
}

@media screen and (min-width: 768px) {

}

@media screen and (min-width: 992px) {
    
}